
.Card {
  background-color: black; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  width: calc(16.66% - 20px); 
  margin-bottom: 3.5%; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  height: 550px; 
  overflow: hidden; 
}

.CardImage {
  width: 100%; 
  height: auto; 
  max-height: 140px; 
  border-radius: 8px 8px 0 0; 
  margin-bottom: 16px; 
}

.CardTitle {
  text-align: start;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: underline; 
}

.CardDescription {
  flex-grow: 1;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.ButtonContainer {
  display: flex;
  align-items: center; 
  margin-top: auto;
  padding-top: 10px;
  gap: 30px; 
}

.GlobeIcon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.GlobeIcon:hover {
  color: #aaa; 
}

.LinkButton {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.LinkButton:hover {
  background-color: #555;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .Card {
    width: calc(40% - 20px); 
  }


  
}

@media (max-width: 1024px) {
  .Card {
    width: calc(60% - 20px); 
  }

  .ButtonContainer {
    width: 340px;
    align-self: center;
  }

  
}


/* Medium to Small Screens: Up to 900px */
@media (max-width: 900px) {
  .Card {
    width: calc(45% - 20px); 
  }
}

@media (max-width: 768px) {
  .Card {
    width: calc(45% - 20px); 
    height: 500px; 
  }

  .CardImage {
    max-height: 400px; 
    height: 280px;
  }

  .ButtonContainer {
    width: 80%;
    align-self: center;
  }
}

/* Small Screens: Up to 600px */
@media (max-width: 600px) {
  .Card {
    width: calc(100% - 20px); 
    height: auto; 
  }
}

@media (max-width: 500px) {
  .Card {
    width: calc(100% - 20px); 
    height: 500px; 
  }

  .ButtonContainer {
    width: 300px;
  }
}

