.Aboutme {
    height: 100vh; /* Full viewport height */
    padding: 0; /* Remove padding to start at the top */
    padding-top: 3%;
  }
  
  img {
    border-radius: 50%; /* Makes the image round */
  }

  #topP{
    padding-top: 10%;
  }

  .gradient-text {
    background: linear-gradient(to right, #a855f7, #342061, #ec4899);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* Safari */
    -moz-background-clip: text; /* Firefox (might require additional adjustments) */
    -webkit-text-fill-color: transparent; /* Make the text color transparent for WebKit browsers */
    color: transparent; /* Fallback for browsers that don't support background-clip */
}

.social-icon {
    position: relative; /* Ensure it's positioned */
    z-index: 10; /* Set a high z-index to be on top */
}

.background-beams {
    pointer-events: none; /* This will allow clicks to go through */
}


  