/* src/styles/Portfolio.css */

html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    overflow-y: auto;
}

.Portfolio {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    padding: 0; 
    overflow-y: auto; 
    display: flex; 
    padding-bottom: 40%;
}

.Container {
    display: flex; 
    width: 100%; 
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 20px; 
    padding-bottom: 5%; 
}

.Sidebarleft {
    width: 15%;
}

.Sidebarright {
    width: 15%; 
}

.Content {
    width: 70%; 
    padding: 20px;
    padding-top: 3%; /* Keep this if you want some top padding */
}

.Header {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically if necessary */
    margin-bottom: 4%;
    padding: 20px;
}

h1 {
    color: white; 
    font-size: 3rem; 
    font-weight: bold; 
}

.inline-block {
    margin-right: 0.2em; 
}

.headerp{
    margin-right: 40%;
    width: 70%;
}
