/* src/styles/Portfolio.css */

html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    overflow-y: auto;
}

.Portfolio {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    padding: 0; 
    overflow-y: auto; 
    display: flex; 
    padding-bottom: 40%;
}

.Container {
    display: flex; 
    width: 80%; 
    margin: 0 auto; 
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 20px; 
    padding-bottom: 5%; 
    max-width: 100%; 
}

.Sidebarleft {
    width: 15%;
}

.Sidebarright {
    width: 15%; 
}

.Content {
    width: 70%; 
    padding: 20px;
    padding-top: 3%; 
}

.Header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 4%;
    padding: 20px;
}

h1 {
    color: white; 
    font-size: 3rem; 
    font-weight: bold; 
}

.inline-block {
    margin-right: 0.2em; 
}

.headerp {
    margin-right: 40%;
    width: 70%;
}

.CardContainer > div {
    flex: 1 0 30%; 
    max-width: 30%; 
    margin: 10px; 
}
