html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    overflow-y: auto;
}

.Portfolio {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    padding: 0; 
    overflow-y: auto; 
    display: flex; 
    padding-bottom: 40%;
    margin-bottom: 10%;
}

.Container {
    display: flex; 
    width: 80%; 
    margin: 0 auto; 
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 20px; 
    padding-bottom: 5%; 
    max-width: 100%; 
}

.Sidebarleft {
    width: 15%;
}

.Sidebarright {
    width: 15%; 
}

.Content {
    width: 70%; 
    padding: 20px;
    padding-top: 3%; 
}

.Header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 4%;
    padding: 20px;
}

h1 {
    color: white; 
    font-size: 3rem; 
    font-weight: bold; 
}

.inline-block {
    margin-right: 0.2em; 
}

.headerp {
    margin-right: 40%;
    width: 70%;
}

.CardContainer > div {
    flex: 1 0 30%; 
    max-width: 30%; 
    margin: 10px; 
    box-sizing: border-box; 
}

/* Medium Screens: Up to 1400px */

@media (max-width: 2560px) {
    .Portfolio{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (min-width:  1440px) {
    .Container {
        height: 300%;
    }
}

@media (max-width: 1440px) {
 
    .Container {
        height: 400%;
    }

    .CardContainer > div {
        flex: 1 0 46%; 
        margin: 10px; 
        box-sizing: border-box; 
    }

    .Portfolio{
        margin-bottom: 20%;
        margin-top: 20%;
    }

    .Content{
        width: 7000px;
        height: 140%;
    }
    
    .CardContainer{
        padding-left: 20px;
        padding-right: 20px;
        width: 150%;
        max-width: 120%;
        height: 700px;
        max-height: 0;
        margin-left: 0;
        margin-left: -11%;
    }

    .custom-title {
        margin-left: 8%;
    }
}

@media (max-width: 1150px) {
    .Container {
        height: 220%;
    }
}


@media (min-width: 900px) and (max-width: 1024px) {
    .Container {
        height: 376%;
    }

    .CardContainer > div {
        max-width: 100%; 
    }
    
    .custom-title {
        margin-left:25%;
    }


    .textbox {
        margin-left:15%;
        width: 700px;
    }

    .Portfolio{
        margin-bottom: 20%;
    }
}



/* Medium to Small Screens: Up to 900px */
@media (max-width: 900px) {
    .CardContainer > div {
        flex: 1 0 100%; 
        max-width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 900px){

    .Container {
        height: 500%;
    }

}


/* Smaller tablets and large phones */
@media (max-width: 768px) {

    .Sidebarleft, .Sidebarright {
        display: none;
    }
    .Content {
        width: 100%;
        padding: 15px;
    }
    h1 {
        font-size: 2.5rem;
    }

    .headerp {
        margin-right: 0;
        width: 100%;
    }

    .CardContainer{
        padding-left: 30px;
        padding-right: 20px;
        width: 600px;
        height: auto;
        margin-left: 9%;
    }
}

@media (min-width: 640px) and (max-width: 768px) {

    .Container {
        width: 100%;
        flex-direction: column;
        height: 620%;

    }
}

@media (min-width: 640px) and (max-width: 706px) {
    .CardContainer{
        margin-left: 4%;
    }
}

/* Small Screens: Phones */
@media (min-width: 430px) and (max-width: 640px) {
    
    .Portfolio {
        padding-bottom: 20%; 
        width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    .custom-title {
        margin-left: 30%;
    }

    .introtitle {
        margin-left: 30px;
    }

    .textbox {
        margin-left: 30px;
    }

    .CardContainer{
        padding-left: 30px;
        padding-right: 20px;
        width: 400px;
        height: auto;
        margin-left: 15%;
    }
}

/* Small Screens: Phones */
@media (max-width: 430px) {
    
    .Portfolio {
        padding-bottom: 20%; 
        width: 100%;
    }

    .Container {

        height: 340%;

    }

    h1 {
        font-size: 2rem;
    }
    .custom-title {
        margin-left: 20%;
    }

    .introtitle {
        margin-left: 30px;
    }

    .textbox {
        margin-left: 30px;
    }

    .CardContainer{
        padding-left: 20px;
        padding-right: 20px;
        width: 400px;
        height: auto;
        margin-left: -9%;
    }
    
}
