body {
    background-color: rgba(0, 0, 0, 0);
}

.resume-container {
    padding: 10% 0;
    overflow-y: auto;
    height: 100vh;
    position: relative;
}

.resume-content-container {
    display: flex; 
    max-width: 100%; 
}

.resume-left-content {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    flex-direction: column; 
    max-width: 45%; 
    margin: 20px 10%;
}

.leftimage {
    max-width: 90%; 
    border-radius: 8px;
    max-height: 80%; 
    margin-bottom: 30px; 
    z-index: 2;
}

.ButtonContainer {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.icon {
    font-size: 1.5rem; 
    color: white; 
}

.ResumeInfoDisplay {
    background-color: rgba(0, 0, 0, 0.603);
    width: 80%; 
    min-height: 200px; 
    padding: 16px;
    border-radius: 8px;
    margin: -140px auto 20px; 
    z-index: 10;
}

.ResumeInfoDisplay h1, h2 {
    text-align: center;
}

.ResumeInfoDisplay h2 {
    margin-bottom: 12px;
}

.resume-right-content {
    flex-grow: 1; 
    margin-left: 20px; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.experience-card {
    position: relative;
    width: 200px; 
    height: 350px; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.add-tech-cards-container {
    max-width: 100%; 
    margin: 0 auto 80px; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.addtext {
    margin-bottom: 50px;
}

.tech-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); 
    gap: 20px; 
    margin: 30px 0 10px; 
}

.tech-image {
    width: 130px; 
    height: auto; 
}

.background-beams {
    background-size: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}

.RestSkills {
    position: relative;
    width: auto; 
    height: auto; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.intro {
    position: relative;
    width: auto; 
    height: auto; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
}

.developer-title {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    -webkit-background-clip: text;  
    -moz-background-clip: text;     
    background-clip: text;          
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    animation: fadeIn 0.8s ease forwards;
    transition: transform 0.3s ease;
}

.developer-title:hover {
    color: #ff4081; 
    transform: scale(1.05); 
}

.right-hidden{
    display: none;
}

.developer-subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: #555; 
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    animation: fadeIn 0.8s ease forwards;
    transition: transform 0.3s ease;
}

.developer-subtitle:hover {
    color: #333; 
    transform: scale(1.05); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tech-and-experience-container {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    margin-bottom: 80px; 
}

.tech-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
    max-width: calc(100% - 220px);
}

/* Responsive Styles for Tech Cards */
@media  (max-width: 1300px) {

    .tech-and-experience-container {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
    }

    .experience-card {
        display: flex; 
        justify-content: center; 
        width: 100%; 
        max-width: 354px; 
        height: 150px;
        text-align: center; 
    }

    .experience-card h3 {
        font-size: 1.5rem; 
        margin: 0 5px; 
    }


    .tech-cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 5px; 
        max-width: calc(100% - 220px); 
        margin-top: 20px;
        justify-items: center; 
    }

    .tech-cards-container .tech-card {
        height: 150px; 
        text-align: center; 
    }
    .tech-cards-container {
        max-width: 100%; 
    }

    .developer-title{
        margin-top: 10%;
    } 
}

@media (min-width: 995px) and (max-width: 1070px) {
    .leftimage {
        max-width: 60%; 
        border-radius: 8px;
        max-height: 80%; 
        margin-bottom: 30px; 
        z-index: 2;
    }

    .ButtonContainer{
        width: 200%;
        min-width: 160px;
    }

    .resume-left-content{
        margin-right: -10%;
    }

    
}

@media (max-width: 995px) {

    .developer-title{
        margin-top: 20%;
    }

    .tech-and-experience-container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }

    .experience-card {
        display: flex; 
        justify-content: center; 
        width: 50%; 
        max-width: 300px; 
        height: 120px; 
        text-align: center; 
    }

    .experience-card h3 {
        font-size: 1.2rem; 
        margin: 0 3px; 
    }

    .tech-cards-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 50px; 
        row-gap: 20px; 
        max-width: calc(100% - 50px); 
        margin-top: 10px; 
        justify-items: center; 
    }

    .tech-cards-container .tech-card {
        height: 120px; 
        text-align: center; 
    }

    .resume-left-content {
        display: none;
      }

      .right-hidden {
        display: flex;                   
        flex-direction: column;        
        align-items: center;           
        justify-content: flex-start;   
        height: auto;                
        margin-top: 10%;              
    }
    
    .rightimage {
        width: auto;                    
        height: 400px;                
        margin: 0;                    
    }
    
    .ButtonContainer {
        width: 400px;          
    }



    @media (max-width: 570px) {
        .developer-title {
            margin-top: 40%;
        }

    
        .intro {
            width: 120%; 
            margin: 0 auto;
            margin-left: -10%;
        }
    }
    
    @media (max-width: 500px) {
        .intro {
            width: 380px; 
            margin-left: -60px;
        }


        .timeline{
            width: 400px;
            margin-left: -10%;
            padding: 0;
        }

        .experience-card{
            width: 250px;
            height: 200px;
        }

        .tech-cards-container{
            margin-right: 20%;
        }

        .experience-card h3 {
           font-size: 5rem; 
            margin: 0 3px;
        }

        .experience-card h4 {
            font-size: 1.3rem; 
             margin: 0 3px;
         }
    }

}

